<ActionBar title="Add comment" class="action-bar">
</ActionBar>
<ScrollView orientation="vertical" tkMainContent class="page">
    <GridLayout class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]="commentForm">

        <Label class="h3 m-15" row="1" col="0" text="Your name" textWrap="true"></Label>
        <TextField class="input input-border" id="author" hint="Your Name" [text]='' row="1" col="1" formControlName="author">
        </TextField>


        <Label class="h3 m-15" row="0" col="0" text="Rating" textWrap="true"></Label>
        <Slider row="0" col="1" formControlName="rating" minValue="1" maxValue="5"></Slider>



        <Label class="h3 m-15" row="2" col="0" text="Your comments" textWrap="true"></Label>
        <TextField class="input input-border" id="comment" hint="Your comments" [text]='' row="2" col="1" formControlName="comment">
        </TextField>

        <Button class="btn btn-primary btn-active m-15" row="3" col="0" text="Submit" (tap)="onSubmit()"></Button>
    </GridLayout>
</ScrollView>